<form id="short-rest-hd" class="dialog-content" onsubmit="event.preventDefault();">
    <p>
        {{#if isGroup}}{{ localize "DND5A.ShortRestHintGroup" }}
        {{else}}{{ localize "DND5A.ShortRestHint" }}{{/if}}
    </p>

    {{#if availableHD}}
    <div class="form-group">
        <label>{{ localize "DND5A.ShortRestSelect" }}</label>
        <div class="form-fields">
            <select name="hd">
                {{#select denomination}}
                {{#each availableHD as |num denom|}}
                <option value="{{denom}}">{{denom}} ({{num}} {{ localize "DND5A.available" }})</option>
                {{/each}}
                {{/select}}
            </select>
            <button id="roll-hd" {{#unless canRoll}}disabled{{/unless}}>
                <i class="fas fa-dice-d20"></i> {{ localize "DND5A.Roll" }}
            </button>
        </div>
        {{#unless canRoll}}
        <p class="notes">{{ localize "DND5A.ShortRestNoHD" }}</p>
        {{/unless}}
    </div>
    {{else}}
    <div class="form-group">
        <label>{{ localize "DND5A.HitDiceAutoSpend.Label" }}</label>
        <input type="checkbox" name="autoHD">
        <p class="hint">{{localize "DND5A.HitDiceAutoSpend.Hint" }}</p>
    </div>
    {{/if}}

    {{#if promptNewDay}}
    <div class="form-group">
        <label>{{ localize "DND5A.NewDay" }}</label>
        <input type="checkbox" name="newDay" {{checked newDay}}>
        <p class="hint">{{ localize "DND5A.NewDayHint" }}</p>
    </div>
    {{/if}}

    <div class="dialog-buttons">
        {{#each buttons as |button id|}}
        <button class="dialog-button" data-button="{{id}}">
            {{{button.icon}}}
            {{{button.label}}}
        </button>
        {{/each}}
    </div>
</form>
